[Unit]
Description=Digital Signage Video Autoplay
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/home/oktant/autoplay-video.sh
Restart=no

[Install]
WantedBy=default.target
